GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
PORT=5000
FRONTEND_URL=http://localhost:3000
SAVE_AUDIO=false
MAX_AUDIO_SIZE_MB=25

# Nodemailer SMTP Email Credentials for OTP & Reminders
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# MongoDB Atlas Connection & JWT Secret
MONGODB_URI=mongodb+srv://mrshivop17_db_user:nRKFHYosPZnkiZ1o@cluster0.q8clbbk.mongodb.net
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
